.li{
    width: 50px;
    background: fixed;
    background-color: blue;
}
.cabecalho{
    display: flex
    
}
body{background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fdenzel-patterer.at%2F%3Fe%3D4k-wallpapers-backgrounds-for-free-to-use-%5B2300%2B-hd-xx-mJb127SM&psig=AOvVaw0wZzJ8aXpyIMCXKupDdvPd&ust=1707315304596000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJjI4aXzloQDFQAAAAAdAAAAABAJ);}
